{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="text-center text-dark">EDIT</h2>

<!--<form method="POST" enctype="multipart/form-data" class="ms-5 me-5 text-info">-->

<!--{% csrf_token %}-->

<!--    <div class="mb-3">-->
<!--  <label  class="form-label">TITLE</label>-->
<!--  <input type="text" class="form-control" name="t" value="{{movie.title}}">-->
<!--</div>-->
<!--      <div class="mb-3">-->
<!--  <label  class="form-label">DESCRIPTION</label>-->
<!--  <input type="text" class="form-control" name="d" value="{{movie.description}}">-->
<!--</div>-->

<!--   <div class="mb-3">-->
<!--  <label  class="form-label">YEAR</label>-->
<!--  <input type="number" class="form-control" name="y" value="{{movie.year}}"  >-->
<!--</div>-->
<!--       <div class="mb-3">-->
<!--  <label  class="form-label">LANGUAGE</label>-->
<!--  <input type="text" class="form-control" name="l" value="{{movie.language}}" >-->
<!--</div>-->
<!--   <div class="mb-3">-->
<!--       <img src="{{movie.image.url}}" height="100px" width="100px">-->
<!--  <label  class="form-label">IMAGE</label>-->
<!--  <input type="file" class="form-control"  placeholder="upload image" name="i" >-->
<!--</div>-->
<!--     <div class="mb-3 ms-auto">-->
<!--            <input type="submit" value="SUBMIT">-->
<!--    </div>-->

<!--</form>-->
<div class="container mt-3 text-light">
    <div class="mx-auto w-50"></div>
    <h2 class="text-center text-light">Edit movie</h2>
    <form method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          <table>
            {{form.as_table}}
          </table>
          <input type="submit">
    </form>
    </div>
</div>
{% endblock %}
